<a href="songs/new"> Create a new playlist </a>
<% if @tracks == nil %>
<p> Have no saved songs yet </p>
<% else %>
<form class="" action="/playlists" method="post">
<% @tracks.each do |track| %>
  <h3><%= track.name %><h3>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= track.id %>&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="<%= track.url %>" title="<%= track.name %>" target="_blank" style="color: #cccccc; text-decoration: none;"> <%= track.name %></a> · <a href="<%= track.url %>" title="<%= track.name %>" target="_blank" style="color: #cccccc; text-decoration: none;">Hard Way</a></div>

  <% @playlists.each do |playlist| %>
    <label><%= playlist.name %></label>
    <input type="checkbox" id="title_<%=playlist.id%>" name="playlist[id][]" value="<%= playlist.id %>"><br>
    <input type="hidden" id="title_<%=playlist.name%>" name="playlist[name]" value="<%= playlist.name %>">

  <%end%>

  <%end%>
  <input type="submit" name="" value="submit">
  </form>
  <%end%>


<a href="/logout"> logout </a>
