<a href="playlists/new"> Create a new playlist </a>
<% if @playlists == nil %>
<p> Have no playlist yet </p>
<% else %>
<% @playlists.each do |playlist| %>
 <div> <h3><%= playlist.name %><h3>
   <a href="/playlists/<%= playlist.id %>/edit"> Edit your <%= playlist.name %>  playlist </a> <br/>
   <a href="/playlists/<%= playlist.id %>"> View your <%= playlist.name %> playlist </a>
   </div>
<%end%>
<%end%>

<form action="/logout" method="GET">
 <button type="submit" value="submit">Logout</button>
</form>
<<<<<<< HEAD
=======





<% @playlists.each do |playlist| %>
  <li> <a href="/playlists/<%= playlist.id %>"> <%= playlist.name %> </a></li>
<% end %>
>>>>>>> api_manager
